/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */

@import "tailwindcss";

.gpu-boost {
  will-change: transform, opacity;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transform: translateZ(0); /* forces GPU compositing */
}

html{
  scroll-behavior: smooth;
}


/* By default particles can interact */
canvas {
  pointer-events: auto;
}

/* But make sure clickable elements always win */
button, a, input, textarea, select {
  position: relative;
  z-index: 20;
  pointer-events: auto;
}


/* global scrollbar style*/ 
/* WebKit Browsers (Chrome, Edge, Safari) */
/* ::-webkit-scrollbar {
  width: 10px;
  height: 10px;
} */

/* ::-webkit-scrollbar-track {
  background: #0f0b1e;
  border-radius: 12px;
} */

::-webkit-scrollbar-thumb {
  background-color: linear-gradient(180deg, #7c3aed 0%, #9333ea 100%);
  border-radius: 12px;
  border: 2px solid transparent;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #9333ea 0%, #c084fc 100%);
}

/* Firefox Global Support */
* {
  scrollbar-width: thin;
  scrollbar-color: #4aeb00 #0f0b1e;
}


